{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div>
   <h1> {{post.author.username}} says: <span>{{post.body}}</span> </h1>
   {% for comment in comments %}
    <p>{{comment.comment_author.username}} comments :{{comment.body}}</p>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}