{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<h1>Hi, {{ current_user.username }}!</h1>
{% if form %} {{ wtf.quick_form(form) }}
<br> {% endif %} {% for post in posts %} {% include '_post.html' %}
<div><a href="{{url_for('comment',id=post.id)}}">
    comments
</a></div>
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
        </li>
    </ul>
</nav>
{% endblock %}